<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(title = ${site.title}, content = ~{::content}, head = null)}"
>
  <th:block th:fragment="content">
    <th:block th:replace="~{_partial/menu}"></th:block>
    <div id="container">
      <th:block th:replace="~{_partial/screen}"></th:block>
      <div id="primary">
        <th:block th:replace="~{_partial/list :: list(posts = ${posts.items})}"></th:block>
      </div>

      <div id="pager" th:if="${posts.hasNext}">
        <a th:href="${posts.nextUrl}" class="more" data-loading="加载中" data-load-more="加载更多">加载更多</a>
      </div>
    </div>
    <div id="preview"></div>
  </th:block>
</html>
